doctype html
html
	head
		title Davinderpal Singh Rehal
		link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed|Ubuntu+Mono' rel='stylesheet')
		link(href='css/app.css' rel='stylesheet')
	body
		header
			h1 Davinderpal Singh Rehal
			h2 Software Developer
			nav
				ul
					li
						a(href='#') About Me
					li
						a(href='#') Skills &amp; Portfolio
					li
						a(href='#') Hire Me
		main
			h1.title Greetings and salutations my good person. I am a Full Stack Developer based in Nairobi, Kenya.
			h2.sub-title I design systems, applications and can help you fly high in the sky... Ok not really but I can help	you	migrate to the cloud.
			h2.sub-title Not sure what you need? Give me a shout at davinderpalrehal@gmail.com, +254733272654 or Skype: davi_singh
		footer
			p Full stack developer and Cloud architect ready to help you achieve your dream.
			nav
				ul
					li
						a(href='#') About Me
					li
						a(href='#') Skills &amp; Portfolio
					li
						a(href='#') Hire Me
			nav.contacts
				ul
					li
						a(href='#') Email
					li
						a(href='#') Phone
					li
						a(href='#') Skype
			nav.social
				ul
					li
						a(href='#') Facebook
					li
						a(href='#') Twitter
					li
						a(href='#') LinkedIn
					li
						a(href='#') Stack Overflow
					li
						a(href='#') Codepen
					li
						a(href='#') GitHub